/**
 * Code
 */
.code
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden
    background #27282d
    font-size 13px
    line-height 1.7em
    letter-spacing 1px
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none

    *
        padding 0
        margin 0

    /**
     * Scroll
     */
    .scroll
        position absolute
        top 0
        left 0
        right -18px
        bottom -18px
        overflow scroll

        .scroll-inner
            position absolute
            top 0
            left 0
            min-width 100%

    /**
     * Lines
     */
    .line
        position relative
        font-family Consolas
        color #dadada
        cursor text

        &.dummy
            position absolute
            top 0
            left 0
            pointer-events none
            visibility hidden

        .selection
            position absolute
            top 0
            left 0
            width 0
            height 100%
            background #3f4147

        .fragments
            position relative

            /**
            * Fragments
            */
            .url
                color inherit
                text-decoration none

                &:hover
                    text-decoration underline

            .success
                .task-value
                    color #98e42e

                .task-description
                    color #98e42e
                    text-decoration line-through

                    .parenthesis
                    .brackets
                        text-decoration line-through

            .canceled
                .task-description
                    text-decoration line-through

                    .parenthesis
                    .brackets
                        text-decoration line-through

            .warning
                .task-value
                .task-description
                    color #ffc32f

            .danger
                .task-value
                .task-description
                    color #ff6a49

            .parenthesis
                color #51dcff

            .brackets
                color #ed9ffe

            .title
                font-weight bold
                color #ffffff

            .strong
                .strong-value
                    font-weight bold
                    color #ffffff

            .quote
                .quote-value
                    font-style italic
                    color #ffffff

            .strike
                .strike-value
                    text-decoration line-through

            .comment
                color #888888
                text-decoration none

    /**
     * Cursor
     */
    .cursor
        position absolute
        top 0
        left 0
        width 0
        font-family Inconsolata
        pointer-events none

        &::after
            content '0'
            visibility hidden

        .bar
            position absolute
            top 0
            left 0
            height 100%
            width 1px
            background #ffffff
            animation cursor-bar-blink 1s infinite
            will-change opacity

            @keyframes cursor-bar-blink
                0%
                49%
                    opacity 1
                50%
                100%
                    opacity 0

    /**
     * Textarea
     */
    .textarea
        position absolute
        opacity 0
        pointer-events none
