
// Fonts
//  azertyuiopqsdfghjklmwxcvbnAZERTYUIOPQSDFGHJKLMWXCVBN<>,?!;.:/=+*$€£1234567890-_@#&'"“`%()[]<>éèêçàùÉÈÊÇÀÙôÔœ
@font-face
    font-family: 'Consolas'
    font-weight: normal
    font-style: normal
    src: url('../fonts/consolas-regular.woff2') format('woff2')

@font-face
    font-family: 'Consolas'
    font-weight: normal
    font-style: italic
    src: url('../fonts/consolas-regular-italic.woff2') format('woff2')

@font-face
    font-family: 'Consolas'
    font-weight: bold
    font-style: normal
    src: url('../fonts/consolas-bold.woff2') format('woff2')

@font-face
    font-family: 'Consolas'
    font-weight: bold
    font-style: italic
    src: url('../fonts/consolas-bold-italic.woff2') format('woff2')
