
// Fonts
//  azertyuiopqsdfghjklmwxcvbnAZERTYUIOPQSDFGHJKLMWXCVBN<>,?!;.:/=+*$€£1234567890-_@#&'"“`%()[]<>éèêçàùÉÈÊÇÀÙôÔœ
@font-face
    font-family: 'Inconsolata'
    font-weight: normal
    font-style: normal
    src: url('../fonts/Inconsolata-Regular.woff2') format('woff2'), url('../fonts/Inconsolata-Regular.woff') format('woff')

@font-face
    font-family: 'Inconsolata'
    font-weight: normal
    font-style: italic
    src: url('../fonts/Inconsolata-Regular-Italic.woff2') format('woff2'), url('../fonts/Inconsolata-Regular-Italic.woff') format('woff')

@font-face
    font-family: 'Inconsolata'
    font-weight: bold
    font-style: normal
    src: url('../fonts/Inconsolata-Bold.woff2') format('woff2'), url('../fonts/Inconsolata-Bold.woff') format('woff')

@font-face
    font-family: 'Inconsolata'
    font-weight: bold
    font-style: italic
    src: url('../fonts/Inconsolata-Bold-Italic.woff2') format('woff2'), url('../fonts/Inconsolata-Bold-Italic.woff') format('woff')
